[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
python-dotenv = "*"
autopep8 = "*"
black = "*"
pandas = "*"
numpy = "*"
types-pytz = "*"
pandas-stubs = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "uvicorn app.main:app --reload"
running_pipenv_envirenment = "pipenv shell"
lint = "pylint ."
format = "black app"
